<app-widget-frame title="First steps" i18n-title>

  <ng-container content>
    <img src="assets/nwu_staff.png" class="float-right" width="50%">
    <p i18n>NWU Archive is running! :)</p>
    <p i18n>You can start uploading documents by dropping them in the file upload box to the right or by dropping them in the configured consumption folder and they'll start showing up in the documents list.
      After you've added some metadata to your documents, use the filtering mechanisms of NWU Archive to create custom views (such as 'Recently added', 'Tagged TODO') and they will appear on the dashboard instead of this message.</p>
    <p i18n>NWU Archive offers some more features that try to make your life easier:</p>
    <ul>
      <li i18n>Once you've got a couple documents in NWU Archive and added metadata to them, NWU Archive can assign that metadata to new documents automatically.</li>
      <li i18n>You can configure NWU Archive to read your mails and add documents from attached files.</li>
    </ul>
    <p i18n>Consult the documentation on how to use these features. The section on basic usage also has some information on how to use NWU Archive in general.</p>
  </ng-container>

</app-widget-frame>
